@import 'styles/colors';

.Message{
  margin: 0 2%;
  padding: 3% 0;

  border-bottom: 1px solid #e3e5eb;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  &--Reversed{
    flex-direction: row-reverse;
  }


  &__Portrait{
    flex: 0 0 10%;
    img{
      clip-path: ellipse(50% 50% at 50% 50%);
      width: 100%;
      max-width: 80px;
      height: auto;
    }
  }

  &__Text{
    flex: 0 0 90%;
    padding-left: 3%;
    span{
      color: $light-gray;
      font-size: 11px;
      margin-bottom: 6px;
      display: block;
      strong {
        font-size: 14px;
        color: $medium-gray;
      }
    }
    p{
      color: $medium-gray;
    }
  }
}
