@import '~rupture-sass/rupture';

.MessageForm{
  position: absolute;
  bottom: 0;
  left: 2%;
  z-index: 1;
  width: 96%;
  height: 60px;
  background: white;
  padding: 1% 0;

  &__Control{
    width: 100%;
    display: block;
    &__Input{
      width: calc(100% - 50px);
      float: left;
      height: 40px;
      padding: 0 5px;
      border: 1px solid #e3e5eb;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &__Button{
      width: 50px;
      float: left;
      background: #8ad919;
      color: white;
      height: 40px;
      border: 0px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}
