
h1,
h2{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}

p,
strong,
span,
label{
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  color: #777777;
}
p{
  font-weight: 300;
  letter-spacing: 1.1;
}
strong{
  font-weight: 500;
}

