@import '~rupture-sass/rupture';

.Messages {
  position: relative;

  margin: 30px 1%;
  padding-bottom: 50px;
  background: white;
  padding-bottom: 60px;

  @include above('l') {
    width: 60%;
    max-width: 760px;
  }

  &__Title{
    font-size: 24px;
    padding: 15px 5px;
  }

  &__Container{
    max-height: 460px;
    overflow: auto;
  }
}
