@import '~rupture-sass/rupture';
@import 'styles/colors';


.Widget{
  display: grid;

  grid-template-areas: "a" "b";
  grid-template-columns: 1fr;
  align-items: center;

  background: white;

  @include above('m') {
    grid-template-areas: "a b";
    grid-template-columns: 80px auto;
  }

  :nth-child(1){
    grid-area: a;
  }
  :nth-child(2){
    grid-area: b;
  }

  :nth-child(1){
    grid-area: a;
  }
  :nth-child(2){
    grid-area: b;
  }

  &__Symbol{
    padding: 15px;
    text-align: center;
    img{
      width: 40px;
      height: auto;
    }

    &--blue{
      background: #30a5ff;
    }

    &--yellow{
      background: #ffb53e;
    }

    &--green{
      background: #1ebfae;
    }

    &--red{
      background: #f9243f;
    }
  }

  &__Data{
    text-align: center;
    padding: 2% 3%;
    strong{
      font-size: 24px;
    }
    span{
      font-size: 14px;
    }
    @include above('m') {
      text-align: left;
    }
  }
}
