@import '~rupture-sass/rupture';



.WidgetList{
  padding: 0 1%;
  margin: 50px 0;

  display: grid;

  grid-template-areas: "a" "b" "c" "d";
  grid-template-columns: repeat(1fr);

  grid-column-gap: 5%;
  grid-row-gap: 1em;

  @include above('m') {
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: repeat(2fr);
  }

  @include above('l') {
    grid-template-areas: "a b" "c d";
    grid-template-columns: repeat(4fr);
  }

  @include above('xl') {
    grid-template-areas: "a b c d";
  }

  :nth-child(1){
    grid-area: a;
  }
  :nth-child(2){
    grid-area: b;
  }
  :nth-child(3){
    grid-area: c;
  }
  :nth-child(4){
    grid-area: d;
  }

  &__Comments{
    color: green;
    grid-area: b;
  }

  &__Users{
    color: green;
    grid-area: a;
  }

  &__Views{
    color: green;
    grid-area: b;
  }

  strong{
    color: #646468;
    display: block;
  }


}
